services:
  backend:
    build:
      context: .
      dockerfile: core/Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - graph-data:/app/graph
    env_file:
      - .env

  frontend:
    build:
      context: frontend
      dockerfile: Dockerfile
    ports:
      - "3000:80"
    depends_on:
      - backend
  
  file_ingest:
    build:
      context: .
      dockerfile: ingestors/file/Dockerfile
    ports: 
      - "8001:8000"
    volumes:
      - ./ingestors/file/config.yaml:/app/ingestors/file/config.yaml

volumes:
  graph-data:
